**Assignment -3**
                      Python Programming

Assignment Date: 7 October 2022

Student Name: Sushma.R

Student Roll Number: 113219031148

Maximum Marks: 2 Marks

Exercises
Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

What is 7 to the power of 4?

In [68]:
7**4

2401

Split this string:

s = "Hi there Sam!"
into a list.

In [69]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

Given the variables:

planet = "Earth"
diameter = 12742

Use .format() to print the following string:

The diameter of Earth is 12742 kilometers.
planet = "Earth"
diameter = 12742

In [70]:
planet = "Earth"
diameter = 12742

In [71]:

print('The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

Given this nested list, use indexing to grab the word "hello"

In [72]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [73]:
a=lst[3][1][2]
print(a)

['hello']

Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky

In [74]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [75]:
print(d['k1'][3]["tricky"][3]['target'][3])

hello

What is the main difference between a tuple and a list?

1.list is mutable but tuples are immutable

2.list consumes more memory whereas tuple consumes less memory

In [76]:
#To show the difference between list and tuple
List = [1, 2, 5, 4, 3, 8, 7, 6, 10]
List[3] = 27
print("List is mutable", List)

List is mutable [1, 2, 5, 27, 3, 8, 7, 6, 10]

In [77]:
tuple1 = (1, 6, 2, 3)
#tuple1[0] = 4            #throws error
print(tuple1)

(1, 6, 2, 3)

Create a function that grabs the email website domain from a string in the form:

user@domain.com

So for example, passing "user@domain.com" would return: domain.com

In [78]:
def domainget(email):
  print("Your domain is: "+email.split('@')[-1])
email=input("Enter your email: ")
domainget(email)

Enter your email: sushma@gmail.com
Your domain is: gmail.com

Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [79]:
def findingdog(dg):
  if 'dog' in dg.lower():
      print("True")
  else:
      print("False")
#dg="Oh my god, I saw a dog there!" #True
dg="This is a Dog"                  #True
findingdog(dg)

True

Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [80]:
stmt="This dog is more affectionate than the other street dog in that street";
def count_no_of_dog(stmt):
  count=0;
  for word in stmt.lower().split():
    if word == 'dog' or word == 'dogs' :
      count=count+1;
  print(count)
count_no_of_dog(stmt)

2

Problem
You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases.

In [81]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60 and speeding<81:
        return 'Small Ticket'
    else:
        return 'No Ticket'
    pass

In [82]:
caught_speeding(90,True)

'Big Ticket'

In [83]:
caught_speeding(61,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees) and using a for loop retreive each employee salary and calculate total salary expenditure.

In [84]:
list1=[{'Empname':'Sushma','Basic_salary':'70000'},
       {'Empname':'Sharan','Basic_salary':'64000'},
       {'Empname':'Shivani','Basic_salary':'30000'},
       {'Empname':'Pooja','Basic_salary':'20000'}]
#arr=[50000,55000,40000,60000]
key,value='Empname','Basic_salary'
res=dict()
list2=[]
for i in list1:
  res[i[key]]=i[value]
print("Basic salary :"+str(res))
arr=[50000,55000,40000,60000]
sum=0
val=0
for v in range(0,len(arr)):
  sum=arr[v]/6
  val+=arr[v]
print("Total salary:",val)
print("Total Expenditure:",sum)#Expenditue is calculated by adding total gross wages divided by no. of days worked.
#Considering number of days workes as 6

Basic salary :{'Sushma': '70000', 'Sharan': '64000', 'Shivani': '30000', 'Pooja': '20000'}
Total salary: 205000
Total Expenditure: 10000.0

Create two dictionaries in Python:

First one to contain fields as Empid, Empname, Basicpay

Second dictionary to contain fields as DeptName, DeptId.

Combine both dictionaries.

In [85]:
Dict1={'Empid':'234','Empname':'Sushma','Basicpay':'70000'}
Dict2={'DeptName':'testing','DeptId':'76'}
Dict3={**Dict1,**Dict2}
print(Dict3)

{'Empid': '234', 'Empname': 'Sushma', 'Basicpay': '70000', 'DeptName': 'testing', 'DeptId': '76'}